
.left-header{
    position: absolute;
    background-color: black;
    left: -8px;
    top: 155px;
    height: 1097px;
    width: 332px;
}
.right-header{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 175px;
    left: 0px;
    top: 0px;
}
.logo{
    position: absolute;
    top: 20px;
    left: 70px;
    width: 127px;
    height: 127px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}
.leiden-pic {
    position: absolute;
    top: 175px;
    width: calc(100% - 324px);
    margin-left: 324px;
    height: 642px;
}
.right-header a{
    margin: 20px;
    padding: 10px 20px;
    position: relative;
    left: 480px;
    top: 60px;
    border-width: 2px;
    border-style: ridge;
    border-color: white;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    text-decoration: none;
}

.welcome{
    position: relative;
    left: 50px;
    top: 70px;
    width: 997px;
    height: 141px;
    font-size: 90px;
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
}
.journey{
    position: absolute;
    top: 900px;
    left: 500px;
    color: black;
    font-family: serif;
    font-weight: 800;
    font-size: 48px;
}
.Explore{
    position: absolute;
    top: 1000px;
    left: 500px;
    width: 593px;
    font-size: 28px;
    font-family: serif;
    font-weight: 500;
}
.black-line{
    position: absolute;
    top: 1250px;
    margin-left: -px;
    height: 106px;
    width: 100%;
    background-color: black;

}
.thick-header{
    position: absolute;
    top: 1297px;
    height: 2310px;
    width: 50%;
    background-color: black;
    left: -8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.rectangles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    padding: 100px;
    margin-top: 1400px;
    position: relative;
    z-index: 1;
    height: 2000px;
}
.card {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}
.card small {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: black;
    margin-top: 400px;
}
H1{
    position: absolute;
    margin-top: 370px;
    margin-left: 40px;
}
.location-logo1{
    position: absolute;
    height: 30px;
    left: 20px;
    top: 435px;
}
.location-logo2{
    position: absolute;
    height: 30px;
    left: 18px;
    top: 435px;
}
.location-logo3{
    position: absolute;
    height: 30px;
    left: 50px;
    top: 435px;
}
.location-logo4{
    position: absolute;
    height: 30px;
    left: 1px;
    top: 435px;
}
.location-logo5{
    position: absolute;
    height: 30px;
    left: 3px;
    top: 435px;
}
.location-logo6{
    position: absolute;
    height: 30px;
    left: 70px;
    top: 435px;
}
.location-logo7{
    position: absolute;
    height: 30px;
    left: 0px;
    top: 435px;
}
.location-logo8{
    position: absolute;
    height: 30px;
    left: 10px;
    top: 435px;
}
.location-logo9{
    position: absolute;
    height: 30px;
    left: 45px;
    top: 435px;
}
footer{
    margin-top: 200px;
    width: 100%;
    height: 396px;
    background-color: black;
}
.monument-left-header{
    width: 10px;
}
.feed{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    border-radius: 10px  
}
.footer{
    margin-top: 50px;
    margin-left: 100px;
}
.monument-header{
    position: relative;
    margin-top: 200px;
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: serif;
    font-weight: 800;
}
.hortus{
    position: relative;
    width: 100px;
}
.Burcht{
    position: relative;
    width: 100px;
}
.city-hall{
    position: relative;
    width: 100px;
}
.hortus-text{
    width: 500px;
    margin-left: 150px;
    margin-top: 250px;
}
.hortus{
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
}
.hortus-header{
    position: absolute;
    top: 510px;
    margin-left: 150px;
}
.burcht{
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
}
.burcht-text{
    width: 500px;
    margin-left: 150px;
    margin-top: 450px;
}
.burcht-header{
    position: absolute;
    margin-top: -40px;
    margin-left: 150px;
}
.city-hall{
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
}
.cityhall-text{
    width: 500px;
    margin-left: 150px;
    margin-top: 450px;
}
.cityhall-header{
    position: absolute;
    margin-top: -40px;
    margin-left: 150px;
}
.inbetween-header1{
    position: absolute;
    margin-top: 200px;
    height: 50px;
    width: 100%;
    background-color: black;
}
.inbetween-header2{
    position: absolute;
    margin-top: 200px;
    height: 50px;
    width: 100%;
    background-color: black;
}